_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
*.sh
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
.jekyll-cache/
# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
