h1 {
    padding: 0px;
    margin: 20px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #585858;
}

h3 {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #585858;
}

p {
    padding-top: 10px;
    margin-left: 10px;
    width: 90%;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

/* */

.tap-head-envelop {
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: fixed;
    top: 0;
}

.tap-head-title{
    padding: 5px;
    margin: 0px;
    background-color: #585858;
}

.tap-head-title h1 {
    padding: 0px;
    margin: 20px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornsilk;
}

.tap-head-title h1:hover {
    color: wheat;
}

.tap-head-navbar ul {
    padding: 0px;
    margin: 0px;
    background-color: #353535;
    text-align: center;
}

.tap-head-navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    list-style-type: none;
    width: 20%;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tap-head-navbar li:hover {
    background-color: #585858;
}

.tap-head-navbar a {
    text-decoration: none;
    color: burlywood;
}

.tap-head-navbar a:hover {
    color: antiquewhite;
}

.tap-head-navbar a:active {
    color: cornsilk;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: blanchedalmond;
}

.tap-body-global-envelop {
    padding: 10px;
    padding-top: 150px;
    margin: 0px;
}

.tap-body-about-me h3 {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #585858;
}

.tap-body-about-me p {
    padding-top: 10px;
    margin-left: 10px;
    width: 90%;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.tap-body-my-blogs {
    padding: 0px;
    margin: 0px;
}

.tap-body-history-envelop {
    padding: 0px;
    margin: 0px;
}

.tap-body-history-envelop ul {
    padding: 10px;
    margin: 20px;
}

.tap-body-history-envelop li {
    list-style-type: none;
    padding: 10px;
    margin-left: 10px;
    width: 90%;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    display: inline-block;
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 100ms;
}

.tap-body-history-envelop li:hover {
    font-size: 30px;
}

.tap-body-history-envelop a {
    text-decoration: none;
    color: blue;
}

.tap-body-history-envelop a:hover {
    color: dodgerblue;
}

.tap-body-history-envelop a:active {
    color: darkblue;
}

.my-projects-core {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 70%;
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 100ms;
}

.my-projects-core:hover {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 70%;
    font-size: 30px;
    box-shadow: aliceblue;
}

.my-projects-img {
    padding: 0px;
    margin: 0px;
    float: right;
    width: 30%;
}

#facial-composites {
    width: 400px;
    height: 350px;
}

#image-captioning {
    width: 400px;
    height: 250px;
}

#mnist-generator {
    width: 400px;
    height: 400px;
}

i {
    margin-right: 10px;
}
